@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header{
    background-color: #262626;
    padding: 220px;
}

.header #typed, .header .typed-cursor{
    color: white;
}

.header h1{
    font-size: 22px;
    color: rgb(125, 48, 197);
}

.header #open-menu{
    margin-top: -40px;
    padding-left: 560px;
    color: white;
    cursor: pointer;
}


.navbar{
    display: flex;
    z-index: 999;
    position: fixed;
    top: 0px;
    color: wheat;
    background-color: aqua;
    padding: auto;
    flex-direction: column;
}

.navbar a{
    display: block;
    text-align: center;
    padding: 5px;
}